In [2]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

from scipy.stats import poisson

# 1. Correlation coefficient

### Read in data.

In [3]:
# df = pd.read_csv('../input/english-premier-league-results/EPL.csv')
df = pd.read_csv('data/results.csv')
df.head(3).append(df.tail(3))

,Season,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,HST,AST,HC,AC,HF,AF,HY,AY,HR,AR
0,1993-94,1993-08-14 00:00:00,Arsenal,Coventry,0,3,A,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1993-94,1993-08-14 00:00:00,Aston Villa,QPR,4,1,H,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1993-94,1993-08-14 00:00:00,Chelsea,Blackburn,1,2,A,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10421,2019-20,2020-07-26 16:00:00,Newcastle,Liverpool,1,3,A,1.0,1.0,D,...,2.0,6.0,2.0,4.0,11.0,5.0,1.0,0.0,0.0,0.0
10422,2019-20,2020-07-26 16:00:00,Southampton,Sheffield United,3,1,H,0.0,1.0,A,...,4.0,3.0,9.0,1.0,9.0,16.0,0.0,1.0,0.0,0.0
10423,2019-20,2020-07-26 16:00:00,West Ham,Aston Villa,1,1,D,0.0,0.0,D,...,1.0,4.0,0.0,7.0,16.0,13.0,2.0,1.0,0.0,0.0